body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: .75em;
    background: #eeeeee;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
}

hr {
    margin: 25px 40px 25px 0px;
    border: none;
    background-color: #777777;
    color: #7777777;
    height: 1px;
}

object {
    margin: 0px 10px 0px 10px;
}

/* input {                          */
/*     border: 0px;                 */
/*     background-color: #000000;   */
/*     color: #ffffff;              */
/*     padding-top: 1px;            */
/*     padding-bottom: 2px;         */
/*     padding-left: 20px;          */
/*     padding-right: 20px;         */
/* }                                */

#topbar {
    height: 50px;
    width: 100%;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    background: #000000 url(../img/mdlogo_white-border.png) 10px 10px no-repeat;
}

#upload_box {
    width: auto;
    max-width: 330px;
}

#upload {
    float: right;
}


/* contains ALL content, i.e. upload and media section */
#content {
    padding-left: 40px;
    padding-top: 20px;
}

/* container for the media content: preview and info */
#media_content {
    min-height: 350px;
    width: auto;
}

/* media preview */
#previewbox {
    background: #808080;
    height: 100%;
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    float: left;
}

/* info 'table' */
#infobox {
    height: 100%;
    min-height: 300px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 35px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
}

.info:nth-child(even) {
    background-color: #cfcfcf;
}

/* infobox bg if everything is okay */
#infobox.check {
    background:#dddddd url(../img/check.png) 87% 90% no-repeat;
}

/* infobox bg if ad doesn't comply with all rules */
#infobox.cross {
    background:#dddddd url(../img/cross.png) 87% 90% no-repeat;
}

/* container holding ONE line of information about the selected ad */
.info {
    padding: 3px;
    width: 350px;
    vertical-align: top;
}

.infolabel {
    display: inline-block;
    width: 170px;
    font-weight: bold;
}

/* subclass for highlighting problematic properties in infobox */
.warn {
    color: #ff0000;
}

/* upload error message markup */
.error {
    color: #ff0000;
    font-size: 1.6em;
    font-style: italic;
}

.preview_header {
    padding-left: 10px;
}

#filetype_select{
}

#settings {
    border: 1px solid #999999;
    padding: 0px;
    margin:  0px;
    margin-top: 25px;
}

.toggle {
    width: 100%;
    height: 20px;
    padding: 0px;
    padding-top: 4px;
    margin: 0px;
    background-color: #777777;
    color: #dddddd;
}

.toggle:before {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    margin-top: 15px;
}

.is_on:before {
    content: "\0025B2";
}

.is_off:before {
    content: "\0025BC";
}

.settings_content {
    display: none;
    padding: 5px;
    margin: 5px;
}
