<!DOCTYPE html>
<html>
<head>
    <title>mediadecision media inspector</title>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.webui-popover.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/jquery.webui-popover.min.css" />
</head>
<body>
<div id="topbar">
</div>
<div id="content">
    <h1>
        mediadecision media inspector
    </h1>
    <h2>
        inspect flash (swf), gif, jpeg and png media files: filesize, dimensions, framerate, and more (max. 2MB)
    </h2>
